@media(min-width 768px){


  .hidden {
    display: none;
  }
  
  *{
    color: aliceblue;
    font-family: 'Gowun Batang', serif;

  }
  
  .bgImg {
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    }
  
  
  #clock{
    border-radius: 25px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
  

  
  input{
    color: black;
  }
  
  #toDoList{
    list-style: none;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(0.2, 5, 90, 0.3);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  logIn{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  


  input{
    text-align: center;
    width: 350px;
    font-size: 20px;
  }

}
